/* css the search bar and button
add search button*/
body {
	background: url("http://na.leagueoflegends.com/sites/default/files/upload/art/teambuilder-wallpaper.jpg") no-repeat right top;
	background-attachment: fixed;
	background-size: cover;
}


.button {
	padding: 0px;


}
.button, .searchBar{
	margin: auto;
	position: relative;
	top: 100px;

}

.searchBar{
	padding: 20px 5px;
	border: 3px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	margin: auto;
	background-image: #5a5a5a;
	opacity: 0.75;
	box-sizing: border-box;
	float: center;
	width: 30%;

}
.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;


}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 60%;
		
}

}
